header, header.container-fluid, footer.container-fluid {
  padding: 0;
}
.navbar-toggler {
  padding: 8.2px;
}
.navbar li {
  margin-right: 10px;
  margin-left: 10px;
}
#main-container {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
  margin-bottom: -25px;
}
.jumbotron {
  padding-bottom: 32px;
}
.jumbotron .text-right {
  margin-top: 20px;
  margin-bottom: 0;
}
.card {
  margin-bottom: 32px;
}
#valores {
  margin-left: 15px;
  margin-right: 15px;
}
#main-container input {
  text-align: right;
}
#calcular {
  padding: 7px 25px;
  margin-bottom: 15px;
}